@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: normal;
    src: local('Archia'), url('../fonts/Archia-Thin.otf') format('truetype');
  }

body
{
   font-family: Archia !important;
}

.principal{
  display: flex; /* equal height of the children */
  margin: auto;
  width: 60%;
  padding: 20px;
}

.plantilla {
  margin: auto;
  width: 50%;
}
.organismos {
  width: 33%;
}